:root {
    /* TYPOGRAPHY */
    --font-family: "Public Sans", sans-serif;
    --font-weight-heading: 400;
    --font-weight-body: 300;
    --font-weight-bold: 700;
    --font-size-body: 18px;
    --h1-size: 48px;
    --h2-size: 38px;
    --h3-size: 24px;
    --h4-size: 15px;
    /* COLORS */
    --blue-950: hsl(233, 26%, 24%);
    --green-500: hsl(136, 64%, 51%);
    --cyan-400: hsl(192, 69%, 51%);
    --gray-600: hsl(233, 8%, 62%);
    --gray-100: hsl(220, 16%, 96%);
    --gray-50: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);
    /* SPACING or SIZING */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;
    --border-radius: 20px;
    --padding-default: 0 calc(var(--spacing-2xl)*3);
    /* OTHER */
    --transition-default: all 0.3s ease;
}

* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
}

h1,
h2,
h3,
h4 {
    font-weight: var(--font-weight-heading);
    color: var(--blue-950);
    margin: 0;
    padding: 0;
}
h1 {
    font-size: var(--h1-size);
}
h2 {
    font-size: var(--h2-size);
}
h3 {
    font-size: var(--h3-size);
}
h4 {
    font-size: var(--h4-size);
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

p {
    color: var(--gray-600);
    line-height: var(--spacing-lg);
}

button {
    border-radius: var(--border-radius);
    padding: var(--spacing-sm) var(--spacing-xl);
    border: none;
    background: linear-gradient(to right, var(--cyan-400), var(--green-500));
    color: var(--white);
    transition: var(--transition-default);
}
button:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* NAVBAR STYLES */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-default);
    width: 100%;
    background-color: var(--white);
    z-index: 5;
}

.navbar ul > li {
    display: inline-block;
    margin: var(--spacing-sm);
    color: var(--gray-600);
    transition: var(--transition-default);
    position: relative;
    font-size: 15px;
}

.navbar ul > li:hover {
    cursor: pointer;
    color: var(--blue-950);
}

.navbar ul > li:hover::after {
    content: '';
    position: absolute;
    bottom: -31px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--green-500);
    transition: var(--transition-default);
}
/* HAMBURGER STYLES */
.navbar .hamburger {
    display: none;
    z-index: 3;
}
.navbar .hamburger:hover {
    cursor: pointer;
}
.bar1, 
.bar2, 
.bar3 {
    background-color: var(--blue-950);
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.changeColor {
    background-color: var(--green-500);
}
.animateBar1 {
    animation: flipBar1 0.5s forwards;
}
.animateBar2 {
    animation: fadeBar2 0.5s forwards;
}
.animateBar3 {
    animation: flipBar3 0.5s forwards;
}
@keyframes flipBar1 {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(45deg) translate(4px, 10px);
    }
}
@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
    }
}
@keyframes flipBar3 {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(-45deg) translate(4px, -10px);
    }
}

/* MOBILE NAV STYLES */
.mobile-nav {
    display: none;
}
.mobile-nav a {
    color: var(--blue-950);
    margin: var(--spacing-sm) 0;
    text-decoration: none;
}
.mobile-nav a:hover {
    text-decoration: underline;
    opacity: 0.2;
}

@media screen and (max-width: 1050px) {
    .navbar ul > li {
        font-size: 12px;
    }
}

@media screen and (max-width: 950px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
        padding: var(--spacing-lg) var(--spacing-xl);
    }
    .navbar-menu {
        display: none;
    }
    .navbar .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        right: var(--spacing-xl);
    }
    .mobile-menu.active {
        display: flex;
    }
    .mobile-nav {
        width: 85vw;
        height: 30vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 6;
        top: 100px;
        right: 5%;
        padding: var(--spacing-md) var(--spacing-lg);
        background-color: var(--white);
        border-radius: 10px;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: var(--spacing-lg) var(--spacing-lg);
    }
    .navbar .hamburger {
        right: var(--spacing-lg);
    }
}

/* HEADER STYLES */
.header {
    width: 100%;
    padding: var(--padding-default);
    background-color: var(--gray-50);
}

.header .section-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    position: relative;
    padding: calc(var(--spacing-2xl)*4) 0;
}

.header .section-container .content-left {
    width: 35%;
}

.header .section-container .content-right {
    position: absolute;
    top: -30%;
    right: -21%;
    z-index: 4;
}

.header .section-container .content-right::before {
    content: url('images/bg-intro-desktop.svg');
    position: absolute;
    top: -9%;
    right: -45%;
    z-index: -2;
}

@media screen and (max-width: 1350px) {
    .header .section-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 var(--spacing-lg);
    }
    .header .section-container .content-left {
        order: 2;
        width: 100%;
        max-height: 520px;
        align-items: center;
        text-align: center;
    }
    .header .section-container .content-right {
        order: 1;
        width: 100%;
        max-height: 520px;
        position: static;
        justify-content: center;
    }
    .header .section-container .content-right::before {
        height: 100%;
        width: 100%;
        top: -40%;
        right: 20%;
    }
    #header-image {
        width: 70%;
        object-fit: cover;
        z-index: 11;
    }
}

@media screen and (max-width: 950px) {
    .header {
        padding: var(--spacing-lg) var(--spacing-xl);
    }
}

/* WHY-SECTION STYLES */
.why-section {
    width: 100%;
    padding: var(--padding-default);
    background-color: var(--gray-100);
    z-index: 3;
}

.why-section .top {
    margin-top: calc(var(--spacing-2xl)*2);
    max-width: 650px;
}

.why-section .top h2 {
    margin-bottom: var(--spacing-xl);
}

.why-section .card-container {
    display: flex;
    margin-top: var(--spacing-2xl);
    margin-bottom: calc(var(--spacing-2xl)*2);
    line-height: var(--spacing-2xl);
    gap: var(--spacing-2xl);
}

.why-section .card-container .card {
    font-size: 15px;
}

/* ARTICLE STYLES */
.article-section {
    width: 100%;
    padding: var(--padding-default);
    background-color: var(--gray-50);
}

.article-section h2 {
    margin: calc(var(--spacing-xl)*2) 0 var(--spacing-2xl) 0;
}

.article-section .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
    margin-bottom: calc(var(--spacing-xl)*2);
}

.article-section .card-container .card {
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.article-section .card .author {
    font-size: 10px;
}

.article-section .card .quote {
    line-height: var(--spacing-md);
    font-size: 12px;
}

.article-section .card .content {
    padding: var(--spacing-lg);
}

.article-section .card h4:hover {
    cursor: pointer;
    color: var(--green-500);
}

#article-icon {
    width: 100%;
    height: 190px;
}

/* FOOTER STYLES */
footer {
    width: 100%;
    padding: var(--padding-default);
    background-color: var(--blue-950);
}

footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: var(--spacing-2xl) 0;
    justify-content: center;
}

.footer-container .col {
    color: var(--white);
    line-height: var(--spacing-2xl);
}
.footer-container .col:nth-child(1) {
    margin-right: calc(var(--spacing-2xl)*3);
}
.footer-container .col:nth-child(4) {
    text-align: right;
}

.footer-container .col > ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.footer-container .col:nth-child(1) > ul {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-2xl);
}

.footer-container .col > ul > li:hover {
    cursor: pointer;
    color: var(--green-500);
}