:root {
    /* TYPOGRAPHY */
    --font-family: "Public Sans", sans-serif;
    --font-weight-heading: 400;
    --font-weight-body: 300;
    --font-weight-bold: 700;
    --font-size-body: 18px;
    --h1-size: 32px;
    --h2-size: 28px;
    --h3-size: 24px;
    --h4-size: 18px;
    /* COLORS */
    --blue-950: hsl(233, 26%, 24%);
    --green-500: hsl(136, 64%, 51%);
    --cyan-400: hsl(192, 69%, 51%);
    --gray-600: hsl(233, 8%, 62%);
    --gray-100: hsl(220, 16%, 96%);
    --gray-50: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);
    /* SPACING or SIZING */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;
    --border-radius: 20px;
}

* {
    box-sizing: border-box;
}
html, 
body {
    margin: 0;
    padding: 0 var(--spacing-2xl);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
}

h1,
h2,
h3,
h4 {
    font-weight: var(--font-weight-heading);
    margin: 0;
    padding: 0;
}
h1 {
    font-size: var(--h1-size);
}
h2 {
    font-size: var(--h2-size);
}
h3 {
    font-size: var(--h3-size);
}
h4 {
    font-size: var(--h4-size);
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

button {
    border-radius: var(--border-radius);
    padding: var(--spacing-sm) var(--spacing-xl);
    border: none;
    background: linear-gradient(to right, var(--cyan-400), var(--green-500));
    color: var(--white);
}
button:hover {
    opacity: 0.6;
    cursor: pointer;
}

