:root {
  /* TYPOGRAPHY */
  --font-family: "Public Sans", sans-serif;
  --font-weight-heading: 400;
  --font-weight-body: 300;
  --font-weight-bold: 700;
  --font-size-body: 1.2rem;
  --h1-size: 3rem;
  --h2-size: 2.4rem;
  --h3-size: 1.5rem;
  --h4-size: 1rem;
  /* COLORS */
  --blue-950: hsl(233, 26%, 24%);
  --green-500: hsl(136, 64%, 51%);
  --cyan-400: hsl(192, 69%, 51%);
  --gray-600: hsl(233, 8%, 62%);
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);
  --white: hsl(0, 100%, 100%);
  /* SPACING or SIZING */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --border-radius: 1.25rem;
  --padding-default: 0 calc(var(--spacing-2xl) * 3);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-heading);
  color: var(--blue-950);
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

p {
  color: var(--gray-600);
  line-height: var(--spacing-lg);
}

button {
  border-radius: var(--border-radius);
  padding: var(--spacing-sm) var(--spacing-xl);
  border: none;
  background: linear-gradient(to right, var(--cyan-400), var(--green-500));
  color: var(--white);
  transition: background-color 0.3s ease;
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-default);
  width: 100%;
  background-color: var(--white);
  z-index: 5;
}

.navbar ul > li {
  display: inline-block;
  margin: var(--spacing-sm);
  color: var(--gray-600);
  transition: color 0.3s ease;
  position: relative;
  font-size: 0.9rem;
}

.navbar ul > li:hover {
  cursor: pointer;
  color: var(--blue-950);
}

.navbar ul > li:hover::after {
  content: "";
  position: absolute;
  bottom: -1.9rem;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: var(--green-500);
}
/* HAMBURGER STYLES */
.navbar .hamburger {
  display: none;
  z-index: 3;
}
.navbar .hamburger:hover {
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  background-color: var(--blue-950);
  height: 0.25rem;
  width: 2.25rem;
  margin: 0.2rem;
  border-radius: 0.6rem;
  transition: all 0.3s ease-in-out;
}
.changeColor {
  background-color: var(--green-500);
}
.animateBar1 {
  animation: flipBar1 0.5s forwards;
}
.animateBar2 {
  animation: fadeBar2 0.5s forwards;
}
.animateBar3 {
  animation: flipBar3 0.5s forwards;
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

/* MOBILE NAV STYLES */
.mobile-nav {
  display: none;
}
.mobile-nav a {
  color: var(--blue-950);
  margin: var(--spacing-sm) 0;
  text-decoration: none;
}
.mobile-nav a:hover {
  text-decoration: underline;
  color: var(--cyan-400);
}

@media screen and (max-width: 65.6rem) {
  .navbar ul > li {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 59.5rem) {
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: var(--spacing-lg) var(--spacing-xl);
  }
  .navbar-menu {
    display: none;
  }
  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: var(--spacing-xl);
  }
  .mobile-menu.active {
    display: flex;
  }
  .mobile-nav {
    width: 85vw;
    height: 30vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 6;
    top: 6.25rem;
    right: 5%;
    padding: var(--spacing-md) var(--spacing-lg);
    background-color: var(--white);
    border-radius: 10px;
  }
}

@media screen and (max-width: 53rem) {
  .navbar {
    padding: var(--spacing-lg) var(--spacing-lg);
  }
  .navbar .hamburger {
    right: var(--spacing-lg);
  }
}

/* HEADER STYLES */
.header {
  width: 100%;
  background-color: var(--gray-50);
  padding: calc(var(--spacing-2xl) * 3) calc(var(--spacing-2xl) * 3);
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 38.75rem;
  background-position-y: -18.75rem;
  text-align: left;
  display: flex;
  gap: var(--spacing-2xl);
}

.header .content-left {
  width: 50%;
  padding-right: var(--spacing-md);
}

.header .content-left p {
  padding: var(--spacing-sm) 0;
}

.header .content-right {
  width: 100%;
  position: relative;
}

.header .content-right img {
  position: absolute;
  object-fit: cover;
  top: -20rem;
  right: -18.75rem;
  z-index: 4;
}

@media screen and (max-width: 65.6rem) {
  .header {
    display: flex;
    flex-direction: column;
    background-position-x: -12.5rem;
    background-position-y: -21.8rem;
    padding: 0 var(--spacing-2xl) calc(var(--spacing-2xl) * 2)
      var(--spacing-2xl);
    gap: calc(var(--spacing-2xl) * 2);
  }
  .header .content-right {
    order: 1;
    z-index: 1;
    display: flex;
    max-height: 43.75rem;
    justify-content: center;
    align-items: flex-start;
  }
  .header .content-right img {
    display: block;
    position: relative;
    object-fit: contain;
    height: 100%;
    top: -13.75rem;
    left: 0.3rem;
    z-index: 2;
  }
  .header .content-left {
    order: 2;
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 59.5rem) {
  .header .content-left {
    padding-top: var(--spacing-2xl);
  }
  .header .content-right {
    max-height: 40.6rem;
  }
  .header .content-right img {
    transform: translateY(5rem);
  }
}
@media screen and (max-width: 53rem) {
  .header {
    padding: 0 var(--spacing-lg) var(--spacing-2xl) var(--spacing-lg);
    gap: 0;
  }
  .header .content-left {
    padding-top: 0;
  }
  .header .content-left h1 {
    font-size: 2.5rem;
  }
  .header .content-right {
    max-height: 100%;
    max-width: 100%;
  }
  .header .content-right img {
    width: 100%;
    height: 100%;
    transform: translateY(200px);
  }
}

/* WHY-SECTION STYLES */
.why-section {
  width: 100%;
  padding: var(--padding-default);
  background-color: var(--gray-100);
  z-index: 3;
}

.why-section .top {
  margin-top: calc(var(--spacing-2xl) * 2);
  width: 40.6rem;
}

.why-section .top h2 {
  margin-bottom: var(--spacing-xl);
}

.why-section .card-container {
  display: flex;
  margin-top: var(--spacing-2xl);
  margin-bottom: calc(var(--spacing-2xl) * 2);
  line-height: var(--spacing-2xl);
  gap: var(--spacing-2xl);
}

.why-section .card-container .card {
  font-size: 0.9rem;
}

@media screen and (max-width: 59.5rem) {
  .why-section .top {
    text-align: center;
    width: 100%;
  }
  .why-section .card-container {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 53rem) {
  .why-section {
    padding: var(--spacing-md) var(--spacing-lg);
  }
}

/* ARTICLE STYLES */
.article-section {
  width: 100%;
  padding: var(--padding-default);
  background-color: var(--gray-50);
}

.article-heading {
  font-size: var(--h2-size);
  margin: calc(var(--spacing-xl) * 2) 0 var(--spacing-2xl) 0;
}

.article-section .card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);
  margin-bottom: calc(var(--spacing-xl) * 2);
}

.article-section .card-container .card {
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.card .author {
  font-size: 0.6rem;
}

.card .quote {
  line-height: var(--spacing-md);
  font-size: 0.75rem;
}

.card .content {
  padding: var(--spacing-lg);
}

.card h4:hover {
  cursor: pointer;
  color: var(--green-500);
}

.article-icon {
  width: 100%;
  height: 11.8rem;
}

@media screen and (max-width: 72rem) {
  .article-section .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article-section .article-icon {
    height: 15.6rem;
    object-fit: cover;
  }
}

@media screen and (max-width: 53rem) {
  .article-section {
    padding: var(--spacing-lg) var(--spacing-lg);
  }
  .article-heading {
    text-align: center;
  }
  .article-section .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: var(--spacing-md);
  }
}

/* FOOTER STYLES */
footer {
  width: 100%;
  padding: var(--padding-default);
  background-color: var(--blue-950);
}

footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  padding: var(--spacing-2xl) 0;
  justify-content: center;
}

.col {
  color: var(--white);
  line-height: var(--spacing-2xl);
}
.col:nth-child(1) {
  margin-right: calc(var(--spacing-2xl) * 3);
}
.col:nth-child(4) {
  text-align: right;
}

.col > ul {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.col:nth-child(1) > ul {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-2xl);
}

.col > ul > li:hover {
  cursor: pointer;
  color: var(--green-500);
}

@media screen and (max-width: 65.6rem) {
  .col:nth-child(1) {
    margin-right: calc(var(--spacing-2xl) * 2);
  }
  .col:nth-child(4) {
    padding-left: var(--spacing-lg);
  }
  .col:nth-child(4) p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 59.5rem) {
  footer .footer-container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--spacing-lg) 0;
  }
  .col:nth-child(1) {
    margin-right: 0;
  }
  .col:nth-child(1) > ul {
    justify-content: center;
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
  }
  .col:nth-child(2) {
    padding-top: var(--spacing-lg);
  }
  .col:nth-child(3) {
    padding-bottom: var(--spacing-lg);
  }
  .col:nth-child(4) {
    text-align: center;
    padding-left: 0;
  }
  .col {
    line-height: var(--spacing-xl);
  }
}
@media screen and (max-width: 53rem) {
  footer {
    padding: var(--spacing-lg) var(--spacing-lg);
  }
  footer .footer-container {
    width: 100%;
  }
}
